@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('reset.css');
@import url('variables.css');
@import url('typography.css');
@import url('navigation.css');
@import url('animations.css');
@import url('login.css');

html{
    color: var(--default-text-color);
    background-image: url('../images/subtle_background_textures_07.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    body{
        background-color: rgba(255, 255, 255, 0.5);
    }
}
h1{
    font-size: 4rem;
    -webkit-animation: h1-onload .4s ease-in-out;
    animation: h1-onload .4s ease-in-out;
}

.site-branding{
    font-size: 3rem;
    text-align: center;
    a{
        color: var(--link-text-color);
    }
}

main, footer{
    margin: 5rem 11rem;
    a{
        color: var(--link-text-color);
    }
}
.site-content{
    hr{
        width: 10%;
        text-align: center;
        margin-bottom: 1.5rem;
        border: 2px solid var(--link-text-color);
    }
    section{
        border-bottom: 1px solid var(--link-text-color);
        margin: 2rem 0;
        padding-bottom: 2rem;
    }
    .intro{
        .intro-div{
            display: flex;
            width: 100%;
            .intro-text{
                width: 75%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                p{
                    margin-right: 2rem;
                }
                a.intro-anchor{
                    font-size: 1.5rem;
                    margin: 1rem;
                    width: 55%;
                    .fa-angle-left{
                        .intro-more{
                            border-top: 2px solid var(--link-text-color);
                            border-bottom: 2px solid var(--link-text-color);
                            padding: 0.5rem;
                            margin: 1rem 0.5rem;
                            transition: 0.3s ease;
                            &:hover{
                                color: white;
                                background: var(--link-text-color);
                            }
                        }
                    }
                }
            }
            
            .intro-img-container{
                width: 50%;
                margin: 1rem 0;
                img{
                    width: 100%;
                    transition: 0.6s;
                     &:hover{
                        transform: scale(1.1);
                        -webkit-box-shadow: 0px -2px 18px 5px rgba(100, 147, 185, 1);
                        -moz-box-shadow: 0px -2px 18px 5px rgba(100, 147, 185, 1);
                        box-shadow: 0px -2px 18px 5px rgba(100, 147, 185, 1);
                    }
                }
            }
        }
    }
    .posts{
        .listing-posts{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            list-style-type: none;
            grid-gap: 1rem;
            li{
                a{
                    position: relative;
                    height: 10rem;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    -ms-flex-pack: distribute;
                    justify-content: space-between;
                    background-image: url('../images/post-bgr.gif');
                    color: white;
                    text-transform: uppercase;
                    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
                    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
                    box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
                    border-radius: 0.7rem;
                    .overlay{
                        position: absolute;
                        background-color: rgba(255,255,255,0.2);
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        z-index: 20;
                        transition: 0.4s ease;
                        &:hover{
                            background-color: rgba(255,255,255,0);
                        }
                    }
                    span{
                        margin: 1rem;
                    }
                    .date{
                        border-top: 1px solid;
                    }
                }
            }
            li:first-child{
                grid-column: 1/3;
            }
            li:nth-child(3){
                grid-column: 2;
            }
        }
    }
    .featured-article{
        .featured-wrapper{
            display: flex;
            .featured-img-container{
                width: 50%;
                margin: 1rem;
                img{
                    width: 100%;
                    transition: 0.6s;
                     &:hover{
                        transform: scale(1.1);
                        -webkit-box-shadow: 0px -2px 18px 5px rgba(100, 147, 185, 1);
                        -moz-box-shadow: 0px -2px 18px 5px rgba(100, 147, 185, 1);
                        box-shadow: 0px -2px 18px 5px rgba(100, 147, 185, 1);
                    }
                }
            }
            article{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .featured-date{
                    color: var(--link-text-color);
                    cursor: pointer;
                }
                .featured-anchor{
                    font-size: 1.5rem;
                    margin: 1rem;
                    .featured-more{
                        border-top: 2px solid var(--link-text-color);
                        border-bottom: 2px solid var(--link-text-color);
                        padding: .5rem;
                        margin: 1rem .5rem;
                        -webkit-transition: .3s ease;
                        transition: .3s ease;
                        &:hover{
                            color: white;
                            background: var(--link-text-color);
                        }
                    }
                }
            }
        }
    }
    .register{
        form{
            margin: auto;
            width: 50%;
            fieldset{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                border: none;
                background: #9fbbcc;
                legend{
                    text-align: center;
                    position: absolute;
                    top: 0;
                    font-size: 2rem;
                    width: 100%;
                }
                p:first-of-type{
                    margin-top: 3rem;
                }
                p{
                    margin: 0.4rem 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    input{
                        padding: 0.5rem;
                        border: none;
                        border-bottom: 2px solid cyan;
                        border-top: 2px solid white;
                        border-left: 2px solid white;
                        border-right: 2px solid white;
                        &:hover{
                            border: 2px solid cyan;
                        }
                        &:focus{
                            border: 2px solid red;
                        }
                    }
                }
                .button{
                    padding: 0.8rem;
                    margin-bottom: 1rem;
                    border-radius: 2rem;
                    width: 50%;
                    background: #171717;
                    color: white;
                    border-color: var(--link-text-color);
                    margin: 1rem auto;
                }
            }
        }
    }
}
footer{
    text-align: center;
    margin-bottom: 0 !important;
    padding-bottom: 4rem;
}

@media screen and (max-width: 1204px){
    .site-content .featured-article .featured-wrapper{
        flex-direction: column;
        .featured-img-container{
            width: 100%;
            margin: 0;
        }
        article{
            width: 80%;
            margin: 1rem;
        }
    }
}

@media screen and (max-width: 1301px){
    .site-content, footer{
        margin: 5rem 5rem 5rem 11rem;
        .intro{
            .intro-div{
                flex-direction: column;
                .intro-text{
                    width: 100%;
                }
                .intro-img-container{
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 801px){
    .site-content, footer{
        margin: 0 5rem 5rem 5rem;
        .intro{
            .intro-div{
                .intro-text{
                    width: 110%;
                }
                .intro-img-container{
                    width: 100%;
                }
            }
        }
        .posts{
            .listing-posts{
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
            }
        }
    }
}


@media screen and (max-width: 500px){
    .site-content, footer{
        margin: 0 1rem 5rem 1rem;
        h1{
            font-size: 3rem;
        }
        .intro{
            .intro-div{
                .intro-img-container{
                    overflow: hidden;
                }
                .intro-text{
                    width: 100%;
                }
            }
        }
        .featured-article{
            .featured-wrapper{
                article{
                    .featured-anchor{
                        margin: 1rem 0;
                    }
                }
                .featured-img-container{
                    overflow: hidden;
                }
            }
        }
    }
}

@media screen and (max-width: 420px){
    .site-content{
        .register{
            form{
                width: auto;
            }
        }
    }
}